@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
  background: #F3F3F3;
  font-family: "Open Sans", sans-serif;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  color: #000000;
  text-decoration: none;
}
hr {
  margin: 20px 0;
  border-top: 1px solid #dedede;
}
header {
  background: -webkit-gradient(linear, left top, left bottom, from(#2DBE60), to(#1FAE52));
  background: -webkit-linear-gradient(top, #2DBE60, #1FAE52);
  background: linear-gradient(180deg, #2DBE60, #1FAE52);
  height: 60px;
  position: relative;
  border-bottom: 3px solid green;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
header .logo a {
  display: block;
  float: left;
  line-height: 60px;
  height: 100%;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
}
header .navigation {
  float: right;
  padding: 0;
  list-style-type: none;
  display: table;
  height: 60px;
}
header .navigation li {
  display: table-cell;
  padding: 5px 20px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
}
.home .thumbnail {
  text-decoration: none;
  max-height: 380px;
  overflow: hidden;
  position: relative;
}
.home .thumbnail:after {
  content: '';
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#fff));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #fff);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #fff);
}
.home .thumbnail img {
  height: 200px;
}
.home .thumbnail .price {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: 600;
  color: #333;
  padding: 1px 3px;
}
.home .category li {
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #999;
  margin-left: 5px;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #1ab74e;
  color: #ffffff;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 1px 1px #17a633, 2px 2px #17a633, 3px 3px #17a633, 4px 4px #17a633, 5px 5px #17a633, 6px 6px #17a633, 7px 7px #17a633, 8px 8px #17a633, 9px 9px #17a633, 10px 10px #17a633, 11px 11px #17a633, 12px 12px #17a633, 13px 13px #17a633, 14px 14px #17a633, 15px 15px #17a633, 16px 16px #17a633, 17px 17px #17a633, 18px 18px #17a633, 19px 19px #17a633, 20px 20px #17a633;
}
.home .category li:hover {
  background: #1ac451;
}
.details .glyphicon-home {
  font-size: 20px;
  color: #999;
  padding: 10px;
  border: 1px solid #d6d6d6;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  float: left;
  text-decoration: none;
  margin-top: 10px;
}
.details .namePhone {
  float: left;
  margin-top: 13px;
  margin-left: 25px;
  font-family: 'Open Sans', sans-serif;
}
.details .about {
  width: 100%;
  float: left;
  margin-top: 50px;
  position: relative;
}
.details .description {
  margin-top: 40px;
}
.details .price {
  color: forestgreen;
  font-size: 22px;
  position: absolute;
  right: 15px;
  top: 0;
}
.details .main-img {
  width: 250px;
}
.top-line {
  height: 4px;
  width: 100%;
  background: #2DBE60;
}
.admin .thumbnail.login {
  position: absolute;
  margin-top: -175px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 350px;
}
.admin .thumbnail.login h3 {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
  text-align: center;
  margin-right: 30px;
}
.admin .glyphicon-home {
  font-size: 20px;
  color: #999;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  float: left;
  text-decoration: none;
}
.admin .simple-form {
  width: 100%;
  padding: 20px 40px 10px;
}
.admin .simple-form p {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #777;
}
.admin .simple-form input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
}
.admin .simple-form input[type=submit] {
  padding: 0;
}
.admin .simple-form .btn-default {
  -webkit-border-radius: 0;
          border-radius: 0;
}
.admin .error {
  padding: 0 40px;
  text-align: center;
}
.dashboard .thumbnail {
  cursor: pointer;
  text-decoration: none;
}
.dashboard a.glyphicon {
  position: fixed;
  left: 40px;
  top: 40px;
  font-size: 20px;
  color: #999;
  padding: 10px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  float: left;
  text-decoration: none;
  border: 1px solid #dedede;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.dashboard .add-new-category {
  text-align: center;
  height: 50px;
}
.dashboard .glyphicon-plus {
  font-size: 22px;
  color: #929492;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  line-height: 36px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.dashboard .glyphicon-plus:hover {
  color: #2DBE60;
}
.dashboard .nameCategory {
  position: relative;
}
.dashboard .nameCategory h2 {
  float: left;
}
.dashboard .nameCategory .glyphicon-remove {
  float: right;
  cursor: pointer;
  line-height: 63px;
  font-size: 22px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  color: #929492;
}
.dashboard .nameCategory .glyphicon-remove:hover {
  color: red;
}
.dashboard .add-new-phone {
  text-align: center;
}
.edit img {
  max-width: 400px;
}
.edit input,
.edit textarea {
  width: 400px;
}
.edit p {
  color: #767676;
}
.edit h1 {
  color: #444;
}
.edit h3 {
  color: #777;
}
.addNew img {
  max-width: 400px;
}
.addNew input,
.addNew textarea {
  width: 400px;
}
.addNew p {
  color: #767676;
}
.addNew h1 {
  color: #444;
}
.addNew h3 {
  color: #777;
}
