<style>
    header {
        display: none;
    }
</style>

<div class="top-line"></div>

<div class="container edit">
   <h3>{{name}}</h3>
    <img class="main-img" ng-src="{{phone.img}}" alt=""><br>
    <input type="text" ng-model="phone.img">
    <hr>
    <input type="text" ng-model="phone.name"> <br>
    <textarea ng-model="phone.description" name="description" id="" cols="50" rows="10"></textarea><br>
    <input type="text" ng-model="phone.price"><br>
    <hr>
    <a href="#/admin/dashboard" class="btn btn-default">Назад</a>
    <span class="btn btn-default" ng-click="save()">Сохранить</span>
</div>